button{
    display: inline;
    
    padding:11px;
    grid-area: 12%;
    border: 1px solid red;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius:12px;
    background-color: #F7F1ED;
    list-style-type: none;
    
    
}


body{
    background-color: #F2E9EB ;
    border:4px solid rgba(255, 47, 47, 0.306);
    text-align: center;
    
        font-family: "Poppins", sans-serif;
        font-weight: 201;
        font-size: large;
      
}

header{
background-color:#647295;
text-align: center;
margin-bottom: 2%;
padding: 1%;
}
.class{
    list-style-type: none;
}






  .Eye{
    height: 300px;
    width: 300px;

}
/* For Mobile devices          */
@media(max-width:480px){
img{
    width:5px;
}
h1 ,p{
    color:saddlebrown;
    font-size:2rem;
}
}





/* For iPads,Tablets*/

@media((min-width:481px)and(max-width:768px))
{
img{

    width:5px;
}
h1,p{
    color:green;
    font-size:1rem;
}


}

/*Extra large screens*/

@media(min-width:1201px){
img{
    width:1201px;
    h1,p{
        color:black;
        font-size:100rem;
    }
}


}

  
footer{
    text-align:center;
    padding:2px;
    height:auto;
    background-color:darkgray;
}
  

  

  